<%= form_for [@test_suite,@test_suite_run] do |f| %>
  <% if @test_suite_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite_run.errors.count, "error") %> prohibited this test_suite_run from being saved:</h2>

      <ul>
      <% @test_suite_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :test_suite_id %><br>
    <%= f.number_field :test_suite_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
